<div class="code-api">
  <h4>Login</h4>
  <p>Recurso para autenticações.</p>

  <div class="route get">
    <h4> <span>POST</span> / login</h4>
    <p>Rota  para eutenticar.</p>

    <div>
      <h5>Request</h5>

      <div class="go-right">
        <h5>Headers</h5><br>
        <code>type: application/json</code>
      </div>

      <div class="go-right">
        <h5>Form Parameters</h5><br>
        <table>
          <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
          </tr>

          <tr>
            <td>email</td>
            <td>string</td>
            <td>E-mail do usuário</td>
          </tr>

          <tr>
            <td>email</td>
            <td>string</td>
            <td>E-mail do usuário</td>
          </tr>

          <tr>
            <td>email</td>
            <td>string</td>
            <td>E-mail do usuário</td>
          </tr>

        </table>
      </div>

    </div>
    <div>
      <h5>Response</h5>
      <status>200</status>
    </div>

  </div>

  <div class="route get">
    <h4> <span>POST</span> / login</h4>
    <p>Rota  para eutenticar.</p>

    <div>
      <h5>Request</h5>

      <div class="go-right">
        <h5>Headers</h5><br>
        <code>type: application/json</code></br>
        <code>type: application/json</code></br>
        <code>type: application/json</code></br>
      </div>

      <div class="go-right">
        <h5>Form Parameters</h5><br>
        <table>
          <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
          </tr>

          <tr>
            <td>email</td>
            <td>string</td>
            <td>E-mail do usuário</td>
          </tr>

        </table>
      </div>

      <div class="go-right">
        <h5>Response</h5><br>
        <status>200</status>
      </div>



    </div>

  </div>
</div>
