<div class="login-container">
  <div class="login">
    <img class="logo" src="images/bitbucket.png">

    <label>Username</label>
    <input  type="text">

    <label>Password</label>
    <input  type="password">

    <button class="submit">LOGIN</button>
  </div>

  <div class="login">
    <img class="logo" src="images/github.png">

    <label>Username</label>
    <input  type="text">

    <label>Password</label>
    <input  type="password">

    <button class="submit">LOGIN</button>
  </div>

  <div class="login">
    <img class="logo" src="images/gitlab.png">

    <label>Username</label>
    <input  type="text">

    <label>Password</label>
    <input  type="password">

    <button class="submit">LOGIN</button>
  </div>
</div>
